<div class = "creator-artworks-index">  
  <div class="container">

    <!--<h3> 全ての作品 </h3>-->
    <h3><%= @creator.name %> の作品</h3>

    <div class = "row">
      <div class="col-xs-12 col-sm-3 col-md-2">
        
        <div class = "folder-dropdown">
          <div class="dropdown">
            <a href="#" class="btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">
              フォルダを選択
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">

              <!--<h4><span class ="folder-top"><i class="far fa-folder-open"></i> フォルダ</span></h4>-->

            <!-- フォルダ名を一つずつ表示-->
            <% @folders.each do |folder| %>
              <!-- folder_artworks_path(folder.id) によって folder の id 付きで artworks#index が呼ばれる -->
              <%#= link_to artworks_path(folder_id: folder.id) do %>
              <%= link_to folder_artworks_path(folder.id) do %>
                <p class = "folder-name"><i class="far fa-folder"></i> <%= folder.folder_name %></p>
              <% end%>
            <% end%>
            </ul>
          </div>
        </div>

        <div Class = "folder-list">
          <h4><span class ="folder-top"><i class="far fa-folder-open"></i> フォルダ</span></h4>

            <!-- フォルダ名を一つずつ表示-->
            <% @folders.each do |folder| %>
              <%= link_to folder_artworks_path(folder.id) do %>
                <p class = "folder-name"><i class="far fa-folder"></i> <%= folder.folder_name %></p>
              <% end%>
            <% end%>

          <!--<p><%= link_to "フォルダを追加する" %></p> -->
        </div>

        <br>

        <!-- Ajaxでモーダル実装 -->
        <p><%= link_to "フォルダを追加", new_folder_path, remote: true, class: "btn btn-sm btn-primary" %></p>
        <div id="folder-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

        <!-- モーダル表示用のボタン -->
        <button type="button" class="btn btn-info modal-btn btn-sm" data-toggle="modal" data-target="#folder">
          フォルダを追加
        </button>

        <!-- モーダル・ダイアログ -->
        <div class="modal fade" id="folder" tabindex="-1">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">フォルダを追加</h4>
              </div>
              <div class="modal-body">
                <form>
                  <!--<div class = "form-group">
                    <label class = "control-label">フォルダ名</label>
                    <input type="text" class = "form-control">
                  </div> -->

                  <div class = "form-group">
                    <label class = "control-label">フォルダ名</label>
                    <input value="" type="text" class = "form-control" />
                  </div>

                  <!--<div>
                    <input type="submit" name="commit" value="登録する" data-disable-with="登録する" />
                  </div> -->

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-info modal-btn">追加</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-10">
        <div class = "row">
          <% @artworks.each do |artwork| %>
          <div class = "col-xs-12 col-md-6">
            <div class = "thumbnail">
              <div class = "artwork">
              <%= link_to artwork do%>
                <p class = "image">
                  <%= image_tag artwork.image.url %>
                </p>
                <p class = "creator-name">
                  <%= artwork.creator.name %>
                </p>
                <p class="date">
                  <%= artwork.created_at.strftime("%Y-%m-%d %H:%M ") %>
                </p>
              <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      </div>
    </div>

    <div class = "pagination-wrapper">
      <%= paginate@artworks %>
    </div>

  </div>
</div>
