<div class = "creator-artworks-index">  
  <div class="container">

    <h3>全ての作品 </h3>

    <div class = "row">
      <div class="col-sm-12 col-md-2">
        
        <div class = "folder-dropdown">
          <div class="dropdown">
            <a href="#" class="btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">
              フォルダを選択
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">

              <% folder_lists = [] %>
              <% @artworks.each do |artwork| %>
              <%# artworkに紐付いたfolder_listを配列のfolder_listsに１つずつ追加していく %>
              <% folder_lists << artwork.folder_list %>
              <% end %>
              <%# 重複しているフォルダ名を取り除く%>
              <% folders = folder_lists.uniq %>

              <%# フォルダ名を１つずつ表示させる%>
              <% folders.each do |folder| %>
              <li><a href="#"><i class="far fa-folder"></i> <%= folder %></a></li>
              <% end %>
            </ul>
          </div>
        </div>


        <div Class = "folder-list">
          <h4><span class ="folder-top"><i class="far fa-folder-open"></i> フォルダ</span></h4>

          <!--<% @artworks.each do |artwork| %>
          <p><%= artwork.folder_list %></p>
          <% end%> -->

          <% folder_lists = [] %>
          <% @artworks.each do |artwork| %>
          <%# artworkに紐付いたfolder_listを配列のfolder_listsに１つずつ追加していく %>
          <% folder_lists << artwork.folder_list %>
          <% end %>
          <%# 重複しているフォルダ名を取り除く%>
          <% folders = folder_lists.uniq %>

          <%# フォルダ名を１つずつ表示させる%>
          <% folders.each do |folder| %>
          <p class = "folder-name"><i class="far fa-folder"></i> <%= folder %></p>
          <% end %>

          <!--<p><%= link_to "フォルダを追加する" %></p> -->
        </div>

        <br>
        <!-- モーダル表示用のボタン -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#folder">
          フォルダを追加
        </button>

        <!-- モーダル・ダイアログ -->
        <div class="modal fade" id="folder" tabindex="-1">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">フォルダを追加</h4>
              </div>
              <div class="modal-body">
                <form>
                  <!--<div class = "form-group">
                    <label class = "control-label">フォルダ名</label>
                    <input type="text" class = "form-control">
                  </div> -->


                  <div class = "form-group">
                    <label for="artwork_folder_list" class = "control-label">フォルダ名</label>
                    <input value="" data-role="tagsinput" type="text" name="artwork[folder_list]" id="artwork_folder_list" class = "form-control" />
                  </div>

                  <!--<div>
                    <input type="submit" name="commit" value="登録する" data-disable-with="登録する" />
                  </div> -->

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-info">追加</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="col-sm-12 col-md-10">
        <div class = "row">
          <% @artworks.each do |artwork| %>
          <div class = "col-xs-12 col-sm-6 col-md-6">
            <div class = "thumbnail">
              <div class = "artwork">
              <%= link_to artwork do%>
                <p class = "image">
                  <%= image_tag artwork.image.url %>
                </p>
                <p class = "creator-name">
                  <%= artwork.creator.name %>
                </p>
                <p class="date">
                  <%= artwork.created_at.strftime("%Y-%m-%d %H:%M ") %>
                </p>
              <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
