<div class = "artworks-index">
  <div class = "container">

    <h3>みんなの作品</h3>

    <div class= "row">
      <% @artworks.each do |artwork| %>
      <div class = "col-xs-12 col-sm-6 col-md-4">
        <div class = "thumbnail">
          <div class = "artwork">
          <%= link_to artwork do%>
            <p class = "image">
              <!-- img-responsive によって画像をレスポンシブに対応、center-block によりセンター寄せに設定 -->
              <%= image_tag artwork.image.url, :class => "img-responsive center-block" %>
            </p>
            <p class = "creator-name">
              <%= artwork.creator.name %>
            </p>
            <p class = "date">
              <%= artwork.created_at.strftime("%Y-%m-%d %H:%M ") %>
            </p>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>      
    </div>

    <div class = "pagination-wrapper">
      <%= paginate@artworks %>
    </div>
    
  </div>
</div>