<div class = "artworks-index">
  <div class = "container">

    <h3>みんなの作品</h3>

    <div class= "row">
      <% @artworks.each do |artwork| %>
      <div class = "col-xs-12 col-sm-6 col-md-4">
        <div class = "thumbnail">
          <div class = "artwork">
          <%= link_to artwork do%>
            <p class = "image">
              <%= image_tag artwork.image.url %>
            </p>
            <p class = "creator-name">
              <%= artwork.creator.name %>
            </p>
            <p class = "date">
              <%= artwork.created_at.strftime("%Y-%m-%d %H:%M ") %>
            </p>
            <%# renderを利用してパーシャルファイルで処理する %>
            <%# tag_listにtask.tag_listで取り出したタグをパラメータとして渡す %>
            <!--<p>
              <%= render 'artworks/tag_list', tag_list: artwork.folder_list %>
            </p> -->
          <% end %>
          </div>
        </div>
      </div>
      <% end %>      
    </div>
  </div>
</div>