<div class = "creator-detail">
  <div class = "container">

    <div class = "row creator-wrapper">
      <div class="col-sm-8 col-sm-offset-2">
  
        <p class = "image">
          <%= image_tag @creator.icon.url %>
        </p>
        <p class = "creator-name">
          <%= @creator.name %>
        </p>
      </div>
    </div>

    <div class = "row creator-infomation">
      <div class = "col-sm-12">
        <p>
          <%# @creator は @creator.id のこと%>
          <span><%= link_to edit_creator_path(@creator) do %></span>
            <i class="fas fa-palette fa-lg" ></i>
            <span>クリエイター情報を編集する</span>
          <% end %>
        </p>
        <p>
          <%# @creator は @creator.id のこと%>
          <%# creator_artworks_path(@creator) によって creator の id 付きで artworks#index が呼ばれる %>
          <span><%= link_to artworks_path(creator_id: @creator.id) do %></span>
            <i class="far fa-images fa-lg"></i>
            <span>自分の作品を見る</span>
          <% end %>
        </p>
          <span><%= link_to folders_path(creator_id: @creator.id) do %></span>
            <i class="far fa-folder-open fa-lg"></i>
            <span>フォルダ一覧</span>
          <% end %>
        <p>
        </p>

        <br>
        <p>
          <span><%= link_to creator_path(@creator.id), method: :delete, data: { confirm: '本当に削除していいですか？' } do %></span>
            <i class="fas fa-exclamation-triangle fa-lg"></i>
            <span>クリエイター情報を削除する</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
