<div class = "container">
  <div class = "log-in">
    <h3>Log in</h3>

    <div class = "form-horizontal log-in-form" role = "form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%#= f.label :email, class: "col-sm-4 col-sm-offset-4 control-label" %>
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
          </div>
        </div>

        <div class="field form-group">
          <%#= f.label :password, class: "col-sm-4 col-sm-offset-4 control-label" %>
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-group">
            <div class="col-xs-6 col-xs-offset-3 checkbox-box">
                <label><%= f.check_box :remember_me, class: "checkbox-inline" %></label>
                <%= f.label :remember_me%>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-default col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5" %>
        </div>
      <% end %>
    </div>

    <div class = "links col-sm-offset-4 col-sm-4">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>